/* ==============
   UTILITY STYLES
   ============== */

.u-button-reset {
    background: transparent;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    padding: 0;
    text-align: inherit;
}

.u-list-reset {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}


/* pink - hsl(1,84,71);       rgb(243,123,120);
green   - hsl(103,38,60);     rgb(137,192,115); */


/* ==============
    BASE STYLES
   ============== */


* {
    box-sizing: border-box;
}


body {
    background-color: white;
    color: black;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

img {
    max-width: 100%;
}

h1 {
    color: rgb(137, 192, 115);
    font-family: 'Sansita Swashed', cursive;
    line-height: 32px;
    font-size: 28px;
    text-align: center;
}

h2 {
    color: rgb(137, 192, 115);
    font-family: 'Sansita Swashed', cursive;
    text-align: center;
    font-size: 25px;
    margin-top: 60px;
}

.speakerheading {
    color: white;
}


.speakers {
    background-color: rgb(243, 123, 120);
}


.speaker-name {
    text-align: center;
    display: list-item;
   

}

.speaker-photo {
    border-radius: 50%;
    height: auto;
    width: 150px;
    display: list-item;
    vertical-align: center;
    margin-bottom: 20px;
    margin-top: 40px; 
}



footer {
    background-color: rgb(137, 192, 115);
    margin-top: 60px;
}


/* ==============*/

menu-icon__line {
    background-color: #444;
    height: 2px;
    margin: 8px auto;
    transition: all 260ms ease-in-out;
    width: 42px;
}

[aria-expanded=true] .menu-icon__line:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

[aria-expanded=true] .menu-icon__line:nth-child(2) {
    opacity: 0;
}

[aria-expanded=true] .menu-icon__line:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

@media (max-width: 599px) {

    .site-nav>button:not([aria-expanded]) {
        display: none;
    }

    .site-nav>button[aria-expanded=false]+ul {
        display: none;
    }
}

@media (min-width: 600px) {
    .site-nav>button {
        display: none;
    }
}
