/* ==============
   UTILITY STYLES
   ============== */

.u-button-reset {
    background: transparent;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    padding: 0;
    text-align: inherit;
}

.u-list-reset {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}


/* pink - hsl(1,84,71);       rgb(243,123,120);
green   - hsl(103,38,60);     rgb(137,192,115); */


/* ==============
    BASE STYLES
   ============== */


* {
    box-sizing: border-box;
}


body {
    background-color: white;
    color: black;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
}

h2 {
    color: rgb(137, 192, 115);
    font-family: 'Sansita Swashed', cursive;
}












/* ////// class styles /////// 
/////////////////////////////*/
